{% extends 'base.html.twig' %}


{% block body %}
    <h4 class="header center green-text">Détails de l'événement</h4>

    <div class="event">
        <p>Restaurant : {{ event.restaurant.name}}</p>
        <p>{{ event.restaurant.address}}</p>
        <p>Date de l'événement : le {{ event.date|date('d/m/Y')}} à  {{ event.time|date('H:i')}}</p>

        {% if is_granted('IS_AUTHENTICATED_FULLY')%}

            <div class="button">
                <a href="{{ path('restaurant',{ id: event.restaurant.id }) }}" class="btn btn-default btn-xs">
                    Voir le restaurant</a>
            </div>

            {% if event.hasNotUser(user) %}
                <a href="{{ path('addUserToEvent',{ eventId: event.id, userId: user.id }) }}" class="btn btn-default btn-xs">Inscription à l'événement</a>
            {% else %}
                <h5 class="green-text">Créateur : </h5>
                <p>{{ event.creator.firstname }}</p>
                <h5 class="green-text">Participants :</h5>
                {% for user in event.users %}
                    <p>{{ user.firstname }}</p>
                {% endfor %}
                <h5 class="center green-text">Chat de l'événement</h5>
                <ul id="chatContent">
                    {% include "home/chat.html.twig" %}
                </ul>
                <input type="text" name="newMessage" id="addChat"/>
                <input type="submit" id="submitAddChat" value="Envoyer"/>
            {% endif %}
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-default btn-xs">Connexion</a>
        {% endif %}


    </div>
    <script>
        let eventId = "{{ event.id }}";
        let url = "{{ path('addChat') }}";
        $('#submitAddChat').click(function(){
            let message = $('#addChat').val();
            $('#chatContent').load(url,{"message":message, "eventId":eventId});
            $('#addChat').val('');
        });

    </script>
{% endblock %}
