{% extends 'base.html.twig' %}
{% block body %}

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row center">
                <h4 class="header center green-text">Prochains événements à venir</h4>
            </div>
            <div class="row center">
                <ul>
                    {% for event in events %}
                        <li>
                            <p>{{ event.restaurant.name }} le {{ event.date|date('d/m/Y') }} à {{ event.time|date('H:i')}}</p>
                        </li>
                        <li>
                            <div class="button">
                                <a href="{{ path('eventpage',{ id: event.id }) }}" class="btn btn-default btn-xs">
                                Voir l'événement</a>
                            </div>
                        </li>
                        <br>
                    {% endfor %}
                </ul>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                <div class="row center">
                    <h4 class="header center green-text">Créer votre événement</h4>
                    <div class="button">
                        <a href="{{ path('listRestaurant') }}" class="btn btn-default btn-xs">
                            Créer un événement</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <br>

    <footer class="page-footer green">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Qui sommes-nous ?</h5>
                    <p class="grey-text text-lighten-4">EatTogether vous permet de trouver des compagnons de repas lorsque vous souhaitez ne pas manger seul.</p>


                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="green-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
{% endblock %}