{% extends "base.html.twig" %}
{% form_theme formUser 'bootstrap_4_layout.html.twig' %}
{% block title %}
{% endblock %}

{% block body %}
    <div>
        <h2>{{"Inscription"}}</h2>
    </div>
    <div class="row" id="rangee">
        <div id="colonne" class="col-sm-8">
            {{ form_start(formUser) }}
            {# iterate over each existing tag and render its only field: name #}
                <div class="form-group">
                    <div class="form">
                        {{ form_row(formUser.firstName, {'label':'Prénom'|trans, 'attr': {'placeholder': "Prénom"|trans}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form">
                        {{ form_row(formUser.lastName, {'label':'Nom'|trans, 'attr': {'placeholder': "Nom"|trans}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form">
                        {{ form_row(formUser.birthDate, {'label':'Date de naissance'|trans}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form">
                        {{ form_row(formUser.email, {'label':'email'|trans}) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-success">{{"Valider"|trans}}</button>
            {{ form_end(formUser) }}
        </div>
    </div>

{% endblock %}